@font-face {
  font-family: 'PFDinDisplayPro-Regular';
  src: url("../fonts/PFDinDisplayPro-Regular.eot");
  src: url("../fonts/PFDinDisplayPro-Regular.woff") format("woff"), url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Regular.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Black';
  src: url("../fonts/PFDinDisplayPro-Black.eot");
  src: url("../fonts/PFDinDisplayPro-Black.woff") format("woff"), url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* @font-face {
	font-family: 'PFDinDisplayPro-BlackItalic';
	src: url('../fonts/PFDinDisplayPro-BlackItalic.eot');
	src: url('../fonts/PFDinDisplayPro-BlackItalic.woff') format('woff'), url('../fonts/PFDinDisplayPro-BlackItalic.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-BlackItalic.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}*/
@font-face {
  font-family: 'PFDinDisplayPro-Bold';
  src: url("../fonts/PFDinDisplayPro-Bold.eot");
  src: url("../fonts/PFDinDisplayPro-Bold.woff") format("woff"), url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-BoldItalic.eot");
  src: url("../fonts/PFDinDisplayPro-BoldItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-BoldItalic.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

/* @font-face {
	font-family: 'PFDinDisplayPro-ExtraThin';
	src: url('../fonts/PFDinDisplayPro-ExtraThin.eot');
	src: url('../fonts/PFDinDisplayPro-ExtraThin.woff') format('woff'), url('../fonts/PFDinDisplayPro-ExtraThin.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-ExtraThin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
} */
/* @font-face {
	font-family: 'PFDinDisplayPro-ExtraThinItalic';
	src: url('../fonts/PFDinDisplayPro-ExtraThinItalic.eot');
	src: url('../fonts/PFDinDisplayPro-ExtraThinItalic.woff') format('woff'), url('../fonts/PFDinDisplayPro-ExtraThinItalic.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-ExtraThinItalic.svg') format('svg');
	font-weight: 100;
	font-style: italic;
} */
@font-face {
  font-family: 'PFDinDisplayPro-Light';
  src: url("../fonts/PFDinDisplayPro-Light.eot");
  src: url("../fonts/PFDinDisplayPro-Light.woff") format("woff"), url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
	font-family: 'PFDinDisplayPro-Italic';
	src: url('../fonts/PFDinDisplayPro-Italic.eot');
	src: url('../fonts/PFDinDisplayPro-Italic.woff') format('woff'), url('../fonts/PFDinDisplayPro-Italic.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Italic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
} */
@font-face {
  font-family: 'PFDinDisplayPro-LightItalic';
  src: url("../fonts/PFDinDisplayPro-LightItalic.eot");
  src: url("../fonts/PFDinDisplayPro-LightItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-LightItalic.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

/* @font-face {
	font-family: 'PFDinDisplayPro-Medium';
	src: url('../fonts/PFDinDisplayPro-Medium.eot');
	src: url('../fonts/PFDinDisplayPro-Medium.woff') format('woff'), url('../fonts/PFDinDisplayPro-Medium.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Medium.svg') format('svg');
	font-weight: 600;
	font-style: normal;
} */
/* @font-face {
	font-family: 'PFDinDisplayPro-MediumItalic';
	src: url('../fonts/PFDinDisplayPro-MediumItalic.eot');
	src: url('../fonts/PFDinDisplayPro-MediumItalic.woff') format('woff'), url('../fonts/PFDinDisplayPro-MediumItalic.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-MediumItalic.svg') format('svg');
	font-weight: 600;
	font-style: italic;
} */
@font-face {
  font-family: 'PFDinDisplayPro-Thin';
  src: url("../fonts/PFDinDisplayPro-Thin.eot");
  src: url("../fonts/PFDinDisplayPro-Thin.woff") format("woff"), url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Thin.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

/* @font-face {
	font-family: 'PFDinDisplayPro-ThinItalic';
	src: url('../fonts/PFDinDisplayPro-ThinItalic.eot');
	src: url('../fonts/PFDinDisplayPro-ThinItalic.woff') format('woff'), url('../fonts/PFDinDisplayPro-ThinItalic.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-ThinItalic.svg') format('svg');
	font-weight: 200;
	font-style: italic;
} */
/* $font-BlackItalic: 'PFDinDisplayPro-BlackItalic'; */
/* $font-ExtraThin: 'PFDinDisplayPro-ExtraThin'; */
/* $font-ExtraThinItalic: 'PFDinDisplayPro-ExtraThinItalic'; */
/* $font-Italic: 'PFDinDisplayPro-Italic'; */
/* $font-Medium: 'PFDinDisplayPro-Medium'; */
/* $font-MediumItalic: 'PFDinDisplayPro-MediumItalic'; */
/* $font-ThinItalic: 'PFDinDisplayPro-ThinItalic'; */
@media only screen and (max-width: 959px) {
  .primary {
    font-size: 20px !important;
  }
  .no-bg-image, .child-page-bg {
    background-image: none !important;
  }
}

.child-page-bg {
  background: url("../img/child-page-bg-1.png") 5% 500px, url("../img/child-page-bg-2.png") 95% 500px;
  background-repeat: no-repeat;
}

.waves {
  position: relative;
}

.waves:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  display: block;
  bottom: -5px;
  left: 0;
  background-position: center;
  background-repeat: repeat-x;
}

.waves.waves-white:after {
  background-image: url("../img/waves-white.png");
}

.waves.waves-pink:after {
  background-image: url("../img/waves-pink.png");
}

.waves.waves-blue:after {
  background-image: url("../img/waves-blue.png");
}

.img-frame {
  position: relative;
  display: inline-block;
}

.img-frame:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.7);
}

.img-frame.frame-circle:before {
  border-radius: 999px;
}

.scrolloff {
  pointer-events: none;
}

figure.photo-with-discription {
  margin: 0;
  width: 100%;
}

figure.photo-with-discription .img-frame {
  position: relative;
  padding-bottom: 97.432%;
  height: 0;
  overflow: hidden;
  margin-bottom: -5px;
}

figure.photo-with-discription .img-frame:before {
  z-index: 2;
}

figure.photo-with-discription .img-frame img {
  position: absolute;
  width: 100%;
  height: 100%;
}

figure.photo-with-discription.small figcaption {
  padding: 18px 14px;
}

figure.photo-with-discription .img-frame {
  width: 100%;
}

figure.photo-with-discription .img-frame img {
  width: 100%;
}

figure.photo-with-discription figcaption {
  background-color: #ffedd6;
  border-bottom: 4px solid #ffac01;
  padding: 15px 25px;
  border-top: 2px solid #fff;
}

figure.photo-with-discription figcaption h3 {
  color: #4375af;
  font-family: "PFDinDisplayPro-Bold";
  font-size: 1.3em;
  line-height: 33px;
  text-transform: uppercase;
  margin: 0;
}

figure.photo-with-discription figcaption p {
  color: #3b3b3b;
  font-family: "PFDinDisplayPro-Light";
  font-size: 1.3em;
  margin: 0;
}

.uk-pagination li {
  font-size: 14px;
  font-family: "PFDinDisplayPro-Regular";
}

.uk-pagination li a, .uk-pagination li span {
  background-color: transparent;
  color: #8c8b8b;
  text-transform: uppercase;
  border-radius: 99px;
  padding: 10px;
  border: 1px solid #b6b6b6;
  line-height: 15px;
  transition: all .2s ease-in 0s;
}

.uk-pagination li a:hover, .uk-pagination li a:focus, .uk-pagination li span:hover, .uk-pagination li span:focus {
  transition: all .2s ease-in 0s;
  background-color: #fbac0c;
  border: 1px solid #fbac0c;
  color: #fff;
}

.uk-pagination li.uk-active a, .uk-pagination li.uk-active span {
  background-color: #fbac0c;
  border: 1px solid #fbac0c;
  color: #fff;
}

.uk-pagination li.control-button a {
  padding: 10px 15px;
}

@media only screen and (max-width: 1149px) {
  #navbar-header .menu .menu-item a {
    padding-left: 9px !important;
    padding-right: 9px !important;
  }
}

.uk-container {
  max-width: 1190px;
  padding: 0 20px;
}

body {
  min-width: 480px;
}

#navbar-header {
  height: 60px;
  background-color: #2488c7;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  border-bottom: 4px solid #1b6a98;
}

#navbar-header .uk-container {
  padding: 0;
}

#navbar-header .drop > a {
  font-size: 24px;
  line-height: 12px;
  font-family: "PFDinDisplayPro-Bold";
  transition: all .2s ease-in 0s;
}

#navbar-header .drop .uk-dropdown .uk-nav {
  margin: 0;
}

#navbar-header .drop .uk-navbar-toggle {
  height: auto;
  line-height: 56px;
  font-size: 23px;
  padding-left: 0;
}

#navbar-header .drop.uk-open > a {
  background-color: #2488c7;
  transition: all .2s ease-in 0s;
}

#navbar-header .drop.uk-open > a .uk-navbar-toggle:after {
  content: "\f00d";
  transition: all .2s ease-in 0s;
}

#navbar-header .drop .uk-dropdown {
  margin-top: 4px;
  background: #2488c7;
  padding: 0;
}

#navbar-header .drop .uk-dropdown .menu-item {
  border: 0;
  border-bottom: 1px solid #2f99db;
  list-style-type: disc;
  list-style-position: inside;
  color: #fff;
  padding-left: 20px;
  font-size: 24px;
}

#navbar-header .drop .uk-dropdown .menu-item:hover, #navbar-header .drop .uk-dropdown .menu-item:focus {
  background-color: #2e9ade;
  transition: all .2s ease-in 0s;
}

#navbar-header .drop .uk-dropdown .menu-item:active {
  background: inherit;
}

#navbar-header .drop .uk-dropdown .menu-item a {
  font-family: "PFDinDisplayPro-Light";
  font-size: 25px;
  line-height: 64px;
  border: 0;
}

#navbar-header .drop .uk-dropdown .menu-item a:hover, #navbar-header .drop .uk-dropdown .menu-item a:focus, #navbar-header .drop .uk-dropdown .menu-item a:active {
  background: inherit;
}

#navbar-header .menu {
  width: 100%;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar-header .menu-item a:hover, #navbar-header .menu-item a:focus {
  background-color: #ffac01;
  transition: all .2s ease-in 0s;
}

#navbar-header .menu-item a:active {
  background: inherit;
}

#navbar-header .menu-item.drop > a {
  border: 0 !important;
}

#navbar-header .menu-item a {
  height: 60px !important;
  padding-left: 19px !important;
  padding-right: 19px !important;
  line-height: 60px !important;
  border-left: 1px solid #64a7d6;
  text-transform: uppercase;
  font-family: "PFDinDisplayPro-Bold";
  color: #fff;
  transition: all .2s ease-in 0s;
}

#navbar-header .menu-item a span {
  color: #fff;
}

#navbar-header .menu-item:last-child a {
  border-right: 1px solid #64a7d6;
}

#header {
  border-bottom: 4px solid #f9d59c;
  padding-top: 8px;
  min-height: 90px;
}

#header .logo-header {
  height: 73px;
  width: 99px;
  float: left;
}

#header .slogan {
  color: #365884;
  font-family: "PFDinDisplayPro-LightItalic";
  font-size: 26px;
  font-size: 26px;
  line-height: 28px;
  margin-left: 17%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
}

#header address {
  text-align: right;
  width: 260px;
  font-family: "PFDinDisplayPro-Regular";
  font-size: 26px;
  line-height: 25px;
  text-transform: uppercase;
  background: transparent 0 50% no-repeat;
  background-image: url("../img/header-address-bg.png");
  color: #5f5f5f;
  padding: 3px 0;
  margin: 9px 0 0 0;
  float: right;
}

#header address b {
  font-weight: normal;
  color: #1b1b1b;
  display: inline;
}

#child-page-header {
  margin-bottom: 40px;
}

#child-page-header.no-margin {
  margin-bottom: 0;
}

#child-page-header .uk-breadcrumb {
  margin: 0;
}

#child-page-header .uk-breadcrumb li {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "PFDinDisplayPro-Regular";
  color: #6b6b6b;
  line-height: 45px;
}

#child-page-header .uk-breadcrumb li a {
  color: #6b6b6b;
}

#child-page-header .uk-breadcrumb li:before {
  content: "";
  width: 5px;
  height: 10px;
  background-image: url("../img/breadcrumb.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#child-page-header .uk-breadcrumb li:first-child:before {
  display: none;
}

#child-page-header .uk-breadcrumb li.uk-active {
  color: #242424;
}

#child-page-header .page-header {
  height: 60px;
  background-color: #4697ca;
}

#child-page-header .page-header h1 {
  font-family: "PFDinDisplayPro-Light";
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  display: inline-block;
}

footer {
  height: 65px;
  line-height: 65px;
  margin-top: 65px;
}

footer.no-margin {
  margin-top: 0;
}

footer.border {
  border-top: 9px solid #eaeaea;
}

footer img {
  margin-right: 15px;
}

footer p {
  text-transform: uppercase;
  font-size: 26px;
  color: #404040;
  font-family: "PFDinDisplayPro-Light";
  margin: 0;
}

iframe {
  width: 100%;
  border: 0;
}

#page_about h2 {
  font-family: "PFDinDisplayPro-Light";
  text-transform: uppercase;
  font-size: 28px;
  color: #4f4f4f;
}

#page_about p {
  font-size: 16px;
  color: #4f4f4f;
  font-family: "PFDinDisplayPro-Light";
}

#page_about p b {
  color: #4697ca;
}

#page_about h3 {
  color: #4f4f4f;
  font-size: 16px;
  font-family: "PFDinDisplayPro-Bold";
}

#page_about img {
  border: 4px solid #fee5bd;
}

/*# sourceMappingURL=about.css.map */