@import "core";
#page_stocks {
	.uk-container {
		margin-top: -50px;
		&.small {
			margin-top: 0px;

		}
	}
	figure {
		img {
			border: 4px solid #fee5bd;

		}
		figcaption {

			h3 {
				text-transform: uppercase;
				font-size: 28px;
				color: #4f4f4f;
				font-family: $font-Light;
			}
			p {
				font-size: 16px;
				color: #4f4f4f;
				font-family: $font-Regular;
				font-size: 16px;
				height: 100px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			a.uk-button {
				@include button-main();
			}
			dl {
				dt{
					border: 0;
					font-size: 16px;
					color: #4f4f4f;
					font-family: $font-Regular;
					&.dl-big {
						font-family: $font-Bold;
					}
				}
				dd {
					font-size: 16px;
					color: #4f4f4f;
					font-family: $font-Light;
				}
			}
		}
	}
	
}